@import "tailwindcss";


@theme {
  --font-display: "NotoSerif-VariableFont_wdth,wght";

}

@layer base {
    html, body, #root {
    height: 100%;
  }

  @font-face {
    font-family: "NotoSerif";
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/fonts/NotoSerif-VariableFont_wdth,wght.ttf");
  }


    h1 {
      font-size: var(--text-4xl);
      font-weight: 800;
    }
    h2 {
      font-size: var(--text-3xl);
      font-weight: 800;
    }
    p {
      font-weight: 400;
      font-style: normal;
      font-size: var(--text-xl);
    }

    a {
      font-size: var(--text-xl);
      font-weight: 400;
    }


  }
